
{%block content %}
	<label for ="hotel">Hotels </label>
	<select name="hotel">
		{%for hotel in hotels%}	
		<option value="{{hotel.name}}">{{hotel.name}}</option> 
		{%endfor%}
	</select>
	<label for ="restaurants">Restaurants </label>
	<select name="restaurants">
		{%for restaurant in restaurants%}	
		<option value="{{restaurant.name}}">{{restaurant.name}}</option> 
		{%endfor%}
	</select>
 

	<label for ="activities">Activities </label>
	<select name="activities">
		{%for activity in activities%}	
		<option value="{{activity.name}}">{{activity.name}}</option> 
		{%endfor%}
	</select>
	{%endblock%}