<!DOCTYPE html>
<html>
    <title>Trip Planner</title>
<head>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<body>
<h2>Trip Planner</h2>
{%block content %}
{%endblock%}
	<script src="/jquery/jquery.min.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOURKEYHERE"></script>
    <script src="/js/index.js"></script>
</body>
</html>