h2 {
	font-size: 40px;
	font-color: pink;
	font-family: 'Lobster', 'Helvetica', sans-serif;
}

.glyphicon {
	font-size: 25px;
}

.glyphicon-remove {
	background-color: pink;
}

.btn-sm {
	padding: 4px 5px 3px 5px;
}

.triggers {
	margin: 10px;
}

.days_overlay {
	display: none;
	z-index: 10000;
	border: 1px solid black;
	background-color: grey;
	-moz-box-shadow:0 0 30px 5px #D3D3D3;
    -webkit-box-shadow: 0 0 30px #D3D3D3;
}

.maps_overlay {
	display: none;
	z-index: 10000;
	border: 1px solid black;
	background-color: grey;
	-moz-box-shadow:0 0 30px 5px #D3D3D3;
    -webkit-box-shadow: 0 0 30px #D3D3D3;
}

.restaurant_overlay {
	display: none;
	z-index: 10000;
	border: 1px solid black;
	background-color: grey;
	-moz-box-shadow:0 0 30px 5px #D3D3D3;
    -webkit-box-shadow: 0 0 30px #D3D3D3;
}

.hotel_overlay {
	display: none;
	z-index: 10000;
	border: 1px solid black;
	background-color: grey;
	-moz-box-shadow:0 0 30px 5px #D3D3D3;
    -webkit-box-shadow: 0 0 30px #D3D3D3;
}

.activity_overlay {
	display: none;
	z-index: 10000;
	border: 1px solid black;
	background-color: grey;
	-moz-box-shadow:0 0 30px 5px #D3D3D3;
    -webkit-box-shadow: 0 0 30px #D3D3D3;
}

.maps_overlay.close {
	position: absolute;
	right: -2px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.daysinfo {
	position: absolute;
	top: 15px;
	right: 15px;
	font-family: 'Cabin', 'Helvetica', 'sans-serif';
	color: blue;
	width: 200px;
}

.mapsinfo {
	position: absolute;
	top: 15px;
	right: 15px;
	font-family: 'Cabin', 'Helvetica', 'sans-serif';
	color: blue;
	width: 200px;
}